{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="maincontainer">
            <div class="row loginformrow">
                <div class="col-12">
                    <div class="jumbotron">
                        <a href="{% url 'homepage' %}"><button class="btn btn-primary mb-5">Back</button></a>
                        {% for message in messages %}
                            <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                              <strong>{{message}}</strong>
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                        {% endfor %}
                        <form method="post">
                            {%  csrf_token %}
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" required>
                            </div>

                            <center><button type="submit" class="btn btn-primary">Send OTP</button></center>
                        </form>
                </div>
            </div>
        </div>
{% endblock %}
